body{
	background-color: black;
	font-family: Century Gothic, Arial;
	width:100%;
	height:100% auto;
	
}


#logo img{
	margin-left:5%;
	display:inline;
	padding: left;
	max-width:50%;
}


.menu{
	width:90%;
	max-height:50px;
	margin: 0 auto;
	border-radius: 9px;
	
	background-color: #cde575;
	 background: white url(‘images/imagebutton.gif’) no-repeat top;
	background-image: -webkit-gradient(linear,left top, left bottom,from(#ddeda0), color-stop(0.5,#cde575), color-stop(0.51, #c3e058));
	background-image: -moz-linear-gradient(#ddeda0 0%, #cde575 50%, #c3e058 51%);
	background-image: -o-linear-gradient(#ddeda0 0%, #cde575 50%, #c3e058 51%);
	background-image: -ms-linear-gradient(#ddeda0 0%, #cde575 50%, #c3e058 51%);
	background-image: linear-gradient(#ddeda0 0%, #cde575 50%, #c3e058 51%);
	border-right: 1px solid rgba(9, 9, 9, 0.125);
	box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	text-align: center;
	color: #5d5d5d;
	font: 40px/1 Lobster,Arial,sans-serif;
	
	
}
.menu a{
	text-align:center;
	text-decoration: none;
	color: #5d5d5d;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	text-decoration:none !important;
	white-space:nowrap;
}

.menu a:hover{
	color:#6f9c00;
	opacity:5;
	text-shadow:2px 2px #1e400c;
}


#page_wrapper{
	
	margin:0 auto;
	width:90%;
	min-height:100%;
	height:auto;
	
}

#line_separator{
	width:100%;
	height:1%;
	margin: 0 auto;
	/*background:    -moz-linear-gradient(top, #6f6f6f 0%,  #808080 100%);/* FF3.6+ */
    /*background: -webkit-linear-gradient(top, #6f6f6f 0%,  #808080 100%);/* Chrome10+,Safari5.1+ */
    /*background:      -o-linear-gradient(top, #6f6f6f 0%,  #808080 100%);/* Opera 11.10+ */
    /*background:     -ms-linear-gradient(top, #6f6f6f 0%,  #808080 100%);/* IE10+ */
    /*background:          linear-gradient(top, #6f6f6f 0%,  #808080 100%);*/
	border-radius: 9px;
}

#left_column{
	background-color: #cde575;
	border: 1px #cde575;
	width:20%;
	min-height:98%;
	float:left;
	display:inline;
	border-top-left-radius: 9px;
	border-bottom-left-radius: 9px;
}

#calendar{
	color:black;
	margin:0 auto;
	height:3%;
	width:6%;
	background-image: -webkit-gradient(linear,left top, left bottom,from(#ddeda0), color-stop(0.5,#cde575), color-stop(0.51, #c3e058));
	background-image: -moz-linear-gradient(#ddeda0 0%, #cde575 50%, #c3e058 51%);
	background-image: -o-linear-gradient(#ddeda0 0%, #cde575 50%, #c3e058 51%);
	background-image: -ms-linear-gradient(#ddeda0 0%, #cde575 50%, #c3e058 51%);
	background-image: linear-gradient(#ddeda0 0%, #cde575 50%, #c3e058 51%);
	border-right: 1px solid rgba(9, 9, 9, 0.125);
}


#links{
	
	margin:0 auto;
	height:auto;
	width:100%;
	text-align: center;
	background-color: #cde575;
	background-image: -webkit-gradient(linear,left top, left bottom,from(#ddeda0), color-stop(0.5,#cde575), color-stop(0.51, #c3e058));
	background-image: -moz-linear-gradient(#ddeda0 0%, #cde575 50%, #c3e058 51%);
	background-image: -o-linear-gradient(#ddeda0 0%, #cde575 50%, #c3e058 51%);
	background-image: -ms-linear-gradient(#ddeda0 0%, #cde575 50%, #c3e058 51%);
	background-image: linear-gradient(#ddeda0 0%, #cde575 50%, #c3e058 51%);
	border-right: 1px solid rgba(9, 9, 9, 0.125);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font: 30px/1 Lobster,Arial,sans-serif;
	color: #5d5d5d;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
}

#linklist {
    
    margin:1% 0% 0% 6%;
	width:40%;
	

}
#linklist li {
    display:inline;
    text-align:center;
   
}
#linklist a {

text-align:left;
	font-size: 20px;
    text-decoration:none;
   color:#a3a3a3;


}

#linklist a:hover{
    text-decoration:none;
    color:orange;
}

#content{
	width:80%;
	min-height:98%;
	height:auto;
	border-color: 1px yellow;
	background-color: #f1f8d9;
	float:right;
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
	word-wrap:break-word;
	table-layout: fixed;
}




.event{
	margin-top:20px;
	width:100%;
	border-color: transparent;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	
	
}
.event h4{
	background-image: -webkit-gradient(linear,left top, left bottom,from(#b8dbfb), color-stop(0.5,#78bbf7), color-stop(0.51, #48a3f4));
	background-image: -moz-linear-gradient(#b8dbfb 0%, #78bbf7 50%, #48a3f4 51%);
	background-image: -o-linear-gradient(#b8dbfb 0%, #78bbf7 50%, #48a3f4 51%);
	background-image: -ms-linear-gradient(#b8dbfb 0%, #78bbf7 50%, #48a3f4 51%);
	background-image: linear-gradient(#b8dbfb 0%, #78bbf7 50%, #48a3f4 51%);
	border-right: 1px solid rgba(9, 9, 9, 0.125);
	color: #5d5d5d;
	font: 30px/1 Lobster,Arial,sans-serif;
	border-top-right-radius: 9px;
}
.event table{
	
	font-size:15px;
	table-layout: fixed;
	word-wrap: break-word;
	width:70%;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;

}


.event img{
	float:left;
	max-width:450px;
	display:inline;
	border:10px  black;
	border-radius: 9px;
	}


.event td{
border:6px transparent;
border-radius:9px;
	color:black;
	width:auto;
	word-wrap: break-word;
	font-size: 20px;

}